<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="<%= htmlWebpackPlugin.options.publicPath %>assets/font/realibox/iconfont.css" rel="stylesheet" />
    <script
        src="<%= htmlWebpackPlugin.options.publicPath %>assets/font/realibox/iconfont.js?<%= htmlWebpackPlugin.options.version %>"></script>
</head>

<body>
    <div id="app"></div>
    <script
        src="<%= htmlWebpackPlugin.options.publicPath %>assets/libs/filament-dev.js?<%= htmlWebpackPlugin.options.version %>"></script>
    <script
        src="<%= htmlWebpackPlugin.options.publicPath %>assets/libs/directoryUpload.js?<%= htmlWebpackPlugin.options.version %>"></script>
</body>

</html>